<section>
  <button (click)="increment()">+1</button>
  {{count}}
  <br>
  {{prenom}}
  <input type="text" [(ngModel)]="client.firstname" [disabled]="!client.active">
  <button (click)="changePrenom()">change prenom</button>
  <br>
  <select name="textColor" [(ngModel)]="pColor">
    <option value="">SELECT COLOR PLEASE</option>
    <option value="red">Rouge</option>
    <option value="yellow">Jaune</option>
    <option value="green">Vert</option>
  </select>

  <p [style.color]="pColor">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi debitis deleniti dicta dignissimos doloribus dolorum ea est excepturi hic iure, odit qui recusandae, rem sit temporibus, ullam vitae voluptas!</p>

  <h3>Client</h3>
  <ul [ngClass]="this.client.active ? 'active' : 'disabled'">
    <li>{{client.id}}</li>
    <li>{{client.firstname}}</li>
    <li>{{client.lastname}}</li>
    <li>{{client.active}}</li>
    <li>{{client.age}}</li>
  </ul>
  <div><input type="checkbox" [(ngModel)]="client.active">Activate</div>
  <button (click)="toggle()">Toggle</button>

</section>
<div>
  <h3>Product</h3>
  <ul>
    <li>{{product.id}}</li>
    <li>{{product.price}}</li>
    <li>{{product.category}}</li>
    <li>{{product.description}}</li>
    <li>{{product.promo}}</li>
    <li>{{product.active}}</li>
  </ul>
</div>

<h3>Supplier</h3>
<ul [ngClass]="getSupplierStyle()">
  <li>{{supplier.id}}</li>
  <li>{{supplier.bankAccountNumber}}</li>
  <li>{{supplier.ca}}</li>
  <li>{{supplier.age}}</li>
  <li>{{supplier.calculateCa()}}</li>
  <li>{{supplier.active}}</li>
</ul>
