.active {
  color: green;
  border:1px solid green;
}
.disabled{
  color: red;
  border:1px solid red;
  font-weight: bold;
}
.low{
  color: red;
  font-weight: bold;
}
.medium{
  color: orange;
  font-weight: bold;
}
.high{
  color: green;
}
