<section>
  <h3>Client</h3>
  <ul>
    <li>{{client.id}}</li>
    <li>{{client.firstname}}</li>
    <li>{{client.lastname}}</li>
    <li>{{client.active}}</li>
    <li>{{client.age}}</li>
  </ul>
</section>
<div>
  <h3>Product</h3>
  <ul>
    <li>{{product.id}}</li>
    <li>{{product.price}}</li>
    <li>{{product.category}}</li>
    <li>{{product.description}}</li>
    <li>{{product.promo}}</li>
    <li>{{product.active}}</li>
  </ul>
</div>

<h3>Supplier</h3>
<ul>
  <li>{{supplier.id}}</li>
  <li>{{supplier.bankAccountNumber}}</li>
  <li>{{supplier.ca}}</li>
  <li>{{supplier.age}}</li>
  <li>{{supplier.calculateCa()}}</li>
  <li>{{supplier.active}}</li>
</ul>
